body{
    background: whitesmoke;
}


.a{
    width: 2rem;
    height: 2rem;
    border-radius:15px;
    background: white;
    border: 1px solid gainsboro;
    padding: .2rem;
}
.b{
    width: 1rem;
    height: 1rem;
    border-radius:100px ;
    background: red;
}

.c{
    width: .6rem;
    height: .6rem;
    border-radius:60px ;
    background: black;
}
#er{
    padding-bottom: .3rem;
}

.d{
    width: .5rem;
    height: .5rem;
    border-radius:50px ;
    background: black;

}
/*#san-1{*/
    /*padding: .2rem 0;*/
/*}*/



.e{
    width: .5rem;
    height: .5rem;
    border-radius:50px ;
    background: red;}

#si{
    padding-bottom: .6rem;
}
.f{
    width: .5rem;
    height: .5rem;
    border-radius:50px ;
    background: black;
}
.g{
    width: .45rem;
    height: .45rem;
    border-radius:30px ;
    background: black;
}
.liu{
    margin: .07rem 0;
}