
.swiper-container {
    width: 100vw;
    height: 100vh;
}


.swiper-slide{
    background-image: url("../image/2.jpg");
}
#ban{
    width: 100%;
    display: block;
}
#mian{
    font-size: .42rem;
    color: white;
    text-align: center;
    text-shadow: 0 4px 2px rgba(12,3,6,.3);
    -webkit-text-shadow: 0 4px 2px rgba(12,3,6,.3);
    padding-top: .3rem;

}
#mian2{
    text-align: center;
    font-size: .279rem;
    font-weight: bold;
    color: white;
    padding-top:.28rem;
    margin-bottom: .19rem;
}
.icon{
    width: .17rem;
    height: .18rem;
}

.butt{
    background: rgba(0,0,0,.05);
    width: 6.1rem;
}

.butt1-1{
    background: #8fcc4e;
    height: .64rem;
    border-radius: 4px;
    color: white;
    font-size: .3rem;
}

.mak{
    margin-top: .17rem;
}
.ma1{
    background: white;
    width: 3rem;
    height: 3rem;

}
.ma{
    width: 2.89rem;
    height: 2.88rem;

}
.ma2{
    font-size: .24rem;
    color: white;
    margin: .2rem 0;
}

#hua{
    width: .33rem;
    height: .22rem;
   margin-bottom:.26rem;

}
.hua2{
    color: white;
    font-size: .28rem;
}

/*第二页*/
#top{
    color: white;
    text-align: center;
    font-size: .279rem;
    font-weight: bold;
    margin-bottom: .19rem;
}
#butt2-1{
    background: #42adff;
    height: .64rem;
    border-radius: 4px;
    color: white;
    font-size: .3rem;


}

#hua2{
    color: white;
    font-size: .28rem;
    margin-bottom:.25rem;
}
#hua2-1{
    width: .33rem;
    height: .22rem;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.fud{
    position: absolute;
    left: 50%;
    bottom: .47rem;
    transform: translateX(-50%);
    animation-name: tiaodong;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#er{
    margin-top: 1.46rem;
}

@keyframes tiaodong {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes tiaodong {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
